$primary:       #980cfd;
$secondary:     #e1342e ;
$success:       $green ;
$info:          $cyan ;
$warning:       $yellow ;
$danger:        $red ;
$light:         $gray-100 ;
$dark:          $gray-900 ;

$theme-colors: (
    "light":      #f5fbd4,
    "dark":       #21a7c8,
    "primary":    #980cfd,
    "secondary":  #e1342e,
    "info":       #eb6201,
    "accent1":    #35351d,
    "accent2":    #545b3e,
    "accent3":    #519b5a,
    "success":    #00a060,
    "warning":    #decb00,
    "danger":     #eb2600,
) 

